<div class="album_items-block page-block">
    <h1 class="title"><span>gallery</span></h1>
   
    <span class="album-date"><%= @album.date.strftime('%d.%m.%y') %></span>
    <span class="album-title"><%= @album.title %></span>

    <%= link_to '', url_for( :controller => 'albums', :action => 'index', :locale => I18n.locale ), :class => 'back-btn' %>

    <div class="top-line"></div>    
    <div class="album_items-list">

      <%= will_paginate @album_items, :page_links => false, :previous_label => '', :next_label => '' %>

      <% @album_items.each do |album_item| %>
        <%= link_to url_for( :controller => 'album_items', :action => 'show', :id => album_item, :locale => I18n.locale ), :class => 'list-item' do %>
          <div class="wrapper">
            <div class="foto">
              <% if album_item.image_file_name.nil? %>
                <img width="185" src="<%= asset_path("news-foto.png"); %>" alt="" />
              <% else %>
                <%= image_tag album_item.image.url(:thumb), :height => 180 %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="bot-line"></div>
    <div class="page-bg"></div>
</div>