<p id="notice"><%= notice %></p>

<p>
<div class="album_item-block page-block">
    <h1 class="title"><span>gallery</span></h1>
   
    <span class="album-date"><%= @album.date.strftime('%d.%m.%y') %></span>
    <span class="album-title"><%= @album.title %></span>

    <%= link_to '', url_for( :controller => 'album_items', :action => 'index', :album_id => @album, :locale => I18n.locale ), :class => 'back-btn' %>

    <div class="top-line"></div>    
    <div class="album_item">
      
      <div class="pagination">
        <a class="previous_page " rel="previous" href="/en/gallery/poker-party-paris/items?page=2"></a>
        <a class="next_page" rel="next" href="/en/gallery/poker-party-paris/items?page=2"></a>
      </div>

      <div class="wrapper">
          <%= image_tag @album_item.image.url(:full) %>
      </div>
    </div>
    <div class="bot-line"></div>
    <div class="page-bg"></div>
</div>