<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
    <%= image_tag @album.image.url(:thumb) %>
</p>

<p>
  <b>Date:</b>
  <%= @album.date %>
</p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<h2>Add image:</h2>
<%= form_for([@album, @album.album_items.build]) do |f| %>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>