<div class="news-block page-block">
    <h1 class="title"><span>NEWS</span><div class="border"></div></h1>

    <div class="top-line"></div>    
    <div class="news-list">

      <%= will_paginate @posts, :page_links => false, :previous_label => '', :next_label => '' %>

      <% @posts.each do |post| %>
        <%= link_to url_for( :controller => 'posts', :action => 'show', :id => post, :locale => I18n.locale), :class => 'list-item' do %>
          <div class="wrapper">
            <div class="foto">
              <% if post.image_file_name.nil? %>
                <img width="180" src="<%= asset_path("news-foto.png"); %>" alt="" />
              <% else %>
                <%= image_tag post.image.url(:thumb) %>
              <% end %>
            </div>
            <span class="date"><%= post.data.strftime('%d.%m.%y') %></span>
            
            <div class="news-line"></div>
            
            <span class="title"><%= post.title %></span>
            <span class="content"><%= post.content.html_safe %></span>
          </div>
        <% end %>  
      <% end %>

      <!-- <%= link_to 'New Post', new_post_path %>-->
    </div>

    <br>

    <div class="bot-line"></div>

    <br />



    <div class="page-bg"></div>
</div>