<div class="news-block page-block">
    <h1 class="title"><span>NEWS</span></h1>

    <%= link_to '', url_for( :controller => 'posts', :action => 'index', :locale => I18n.locale ), :class => 'post-back-btn' %>

    <div class="top-line"></div>
    <div class="news-one">
      <div class="foto">
        <% if @post.image_file_name.nil? %>
          <img width="425" src="<%= asset_path("news-foto.png"); %>" alt="" />
        <% else %>
          <%= image_tag @post.image.url(:medium), :width => 425 %>
        <% end %>
      </div>
      
      <span class="date"><%= @post.data.strftime('%d.%m.%y') %></span>      
      <span class="title"><%= @post.title %></span>

      <span class="content">
        <%= @post.content.html_safe %>
      </span>
    </div>
    <div class="bot-line"></div>

    <%= social_buttons url_for( :controller => 'posts', :action => 'show', :id => @post, :locale => I18n.locale ) %>

    <div class="page-bg"></div>
</div>